/* Black Cat by Shelly, using UUFO theme as base */
/* Credit to various CyDJ programmers */

body {
  background: linear-gradient(to bottom, #142664 70%, #141414 , #ff2e93, #ffe5b3)!important;
  color:white;
  overflow-x:hidden;
  background-repeat: no-repeat;
}

html, body {
  height: unset;
}

#motdwrap {
  padding: 10px;
  border-color: white;
  box-shadow: none;
  background-color: #01e6b326;
}

#currenttitle {
  background-image: url(https://cdn.7tv.app/emote/60bfb67aa2610d253072f14a/2x)!important;
  background-repeat: no-repeat!important;
  background-position: left center!important;
}

#wrap {
  background-image: url(https://cdn.discordapp.com/attachments/939718499419431002/953686644408606720/yoo.png);
  background-repeat: repeat-y;
  background-position: 100% 10%;
  background-size: inherit;
  min-height: 80%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  background-blend-mode: soft-light;
}

.alert-info {
  background-color: #b9266c;
  border-color: #3b4ba09e;
  color: #fff;
}

.glyphicon {
  font-weight: 500;
}
/*#mainpage{
  background-image: url(https://cametek.jp/uufo/img/bg-intro.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: auto;
}

#azukirow{
  background-image: url(https://cametek.jp/uufo/img/bg-intro.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: auto;
}*/

#ytapiplayer {
  background-color: #000000;
}

#chatheader, #videowrap-header, #userlist, #messagebuffer, #plmeta {
  background-color: #1c1e22;
}

#footer {
    background: radial-gradient(#141414, #141d40);
}

.text-muted, .text-primary {
  color: #ffffff;
}

.profile-box, .user-dropdown {
  background-color: #f4bb1b;
  color:white;
}

.chat-shadow {
  color: #aaaaaa;
}

.drink {
  border: 2px solid #0000cc;
}

#drinkcount {
  background-color: #000000;
  color: #ffffff;
}

#plmeta {
  border: 1px solid #aaaaaa;
}

#userlist, #messagebuffer {
  border: 1px solid #00e6b3;
}

#chatheader, #videowrap-header {
  border: 1px solid #cccccc;
  border-bottom-width: 0;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.queue_entry {
  border-color: #00e6b3;
  background-color: #141414;
}

.queue_entry.queue_active {
  background-color: #891787;
  background-image: linear-gradient(#142664, #142664, #3b4ba00d);
  background-repeat:no-repeat;
}

.navbar-inverse .navbar-text-nofloat {
  color: #9d9d9d;
}

.btn-default {
  background-image: linear-gradient(#ff1887ad, #00e6b3 100%, #ccc);
  font-weight: 500;
  color: #fffefe;
}

.dark-theme > .odd-message {
  background-color: #10111285;
}

.modal-body {
  padding: 30px;
  background-color: #972d61!important;
}

.modal-header {
  background-color: #1e1e1e;
}

.modal-footer {
  background-color: #1e1e1e;
}

.emote-preview-container {
  margin: 3px
}

.emotelist-table td {
  background-color: #161a20;
}

#titlerow-outer {
  letter-spacing:2px;
  background-color: #142664;
}

.qe_title {
  margin-left: 4px;
  letter-spacing: .6px;
}

::-webkit-scrollbar{min-height:10px;width:6px;background:transparent;}
::-webkit-scrollbar-thumb {
  background: #ff2e93;
  opacity: 7;
  border-radius: 1ex;
}
::-webkit-scrollbar-corner{background: rgb(255 255 255 / 15%);}

div.userlist_item > span:not(.userlist_op):not(.userlist_owner) {
  color: #ffffff;
}

span:not(.userlist_op):not(.userlist_owner) > strong.username {
  color: #ffffff;
}