body {
    background-color: #141414
}

a {
    color: #94d1bd
}

a:hover, a:focus {
    color: #b8e0d3
}

.qe_title {
    color: #ff66ab
}

.queue_entry {
    background-color: #293d36bd;
}

.dropdown-menu {
    background-color: #383E40;
}

.btn {
    background-image: linear-gradient(#4c333e00,#4c333e00 60%,#4c333e00)!important;
    border-color: #4cb290!important
}

.btn-default:hover {
    background-color: #4cb290
}

.modal-body {
    background-color: #293d36
}

.modal-header {
    background-color: #293d36
}

.modal-footer {
    background-color: #293d36
}

.modal-content {
    background-color: #293d36
}

#motd {
    background-color: #fff0
}

#motdwrap {
    background-color: #293d36bd
}

#userlist {
    background-color: #222a27
}
