#nav-collapsible {
	background-image: url("https://cdn.discordapp.com/attachments/915490680468561990/924521409483530240/firework.gif");
	background-repeat: repeat;
	background-size: 10%;
	background-position: center;
	background-attachment: fixed;
	color: #d5e8ff;
}
