/* Spring by Shelly, using UUFO theme as base */
/* Credit to various CyDJ programmers */

body {
  background: linear-gradient(to bottom, #9fc5e8 70%, #b9e0c6 90%, #f48b94, #ffe5b3)!important;
  color:white;
  overflow-x:hidden;
  background-repeat: no-repeat;
}

html, body {
  height: unset;
}

#motdwrap {
  padding: 10px;
  border-color: white;
  box-shadow: none;
  background-color: #78be864d;
}

#wrap {
  background-image: url(https://cdn.discordapp.com/attachments/939718499419431002/941150288964882452/spring_3.png);
  background-repeat: space;
  background-position: 100% 50%;
  background-size: auto;
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  background-blend-mode: soft-light;
}

.alert-info {
  background-color: #3b4ba0;
  border-color: #3b4ba09e;
  color: #fff;
}

.glyphicon {
  font-weight: 500;
}
/*#mainpage{
  background-image: url(https://cametek.jp/uufo/img/bg-intro.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: auto;
}

#azukirow{
  background-image: url(https://cametek.jp/uufo/img/bg-intro.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: auto;
}*/

#ytapiplayer {
  background-color: #000000;
}

#chatheader, #videowrap-header, #userlist, #messagebuffer, #plmeta {
  background-color: #8ed3a06b;
}

#footer {
    background: linear-gradient(357deg, #ca737a, #f4e4b7);
}

.text-muted, .text-primary {
  color: #ffffff;
}

.profile-box, .user-dropdown {
  background-color: #f4bb1b;
  color:white;
}

.chat-shadow {
  color: #aaaaaa;
}

.drink {
  border: 2px solid #0000cc;
}

#drinkcount {
  background-color: #000000;
  color: #ffffff;
}

#plmeta {
  border: 1px solid #aaaaaa;
}

#userlist, #messagebuffer {
  border: 1px solid #fbd1d6;
}

#chatheader, #videowrap-header {
  border: 1px solid #cccccc;
  border-bottom-width: 0;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.queue_entry {
  border-color: #ff2e93;
  background-color: #fbd1d6;
}

.queue_entry.queue_active {
  background-color: #891787;
  background-image: linear-gradient(#3b4ba0, #3b4ba0, #3b4ba0);
  background-repeat:no-repeat;
}

.navbar-inverse .navbar-text-nofloat {
  color: #9d9d9d;
}

.btn-default {
  background-image: linear-gradient(#bfcf02, #bfcf02 60%, #bfcf02);
  font-weight: 500;
  color: #ffffff;
}

.dark-theme > .odd-message {
  background-color: #ff2e939e;
}

.modal-body {
  padding: 30px;
  background-color: #3b4ba0!important;
}

.modal-header {
  background-color: #3b4ba0;
}

.modal-footer {
  background-color: #3b4ba0;
}

.emote-preview-container {
  margin: 3px
}

.emotelist-table td {
  background-color: #161a20;
}

#titlerow-outer {
  letter-spacing:2px;
  background-color: #ff2e93;
}

.qe_title {
  margin-left: 4px;
  letter-spacing: .6px;
}

::-webkit-scrollbar{min-height:10px;width:6px;background:transparent;}
::-webkit-scrollbar-thumb {
  background: #f8cf61;
  opacity: 7;
  border-radius: 1ex;
}
::-webkit-scrollbar-corner{background:rgb(255, 255, 255);}

div.userlist_item > span:not(.userlist_op):not(.userlist_owner) {
  color: #ffffff;
}

span:not(.userlist_op):not(.userlist_owner) > strong.username {
  color: #ffffff;
}