/* CYTUBE EDIT */

body {
  background: linear-gradient(to bottom, #3b4ba0, #891787 50%, #ebb345);
  color:white;
  overflow-x:hidden;
  background-repeat: no-repeat;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px
}

/*#mainpage{
  background-image: url(https://cametek.jp/uufo/img/bg-intro.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: auto;
}*/

#azukirow{
  background-image: url(https://cametek.jp/uufo/img/bg-intro.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: auto;
}

#ytapiplayer {
  background-color: #000000;
}

#chatheader, #videowrap-header, #userlist, #messagebuffer, #plmeta {
  background-color: #891787;
}

footer {
  background-color: #242424 !important;
}

.profile-box, .user-dropdown {
  background-color: #f4bb1b;
  color:white;
}

.emotelist-table td {
  background-color: #f0f0f0;
}

.chat-shadow {
  color: #aaaaaa;
}

.drink {
  border: 2px solid #0000cc;
}

#drinkcount {
  background-color: #000000;
  color: #ffffff;
}

#plmeta {
  border: 1px solid #aaaaaa;
}

#userlist, #messagebuffer {
  border: 1px solid #aaaaaa;
}

#chatheader, #videowrap-header {
  border: 1px solid #cccccc;
  border-bottom-width: 0;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.queue_entry {
  border-color: #aaaaaa;
  background-color: #ffffff;
}

.queue_entry.queue_active {
  background-color: #d9edf7;
}

.navbar-inverse .navbar-text-nofloat {
  color: #9d9d9d;
}

.queue_entry.queue_active {
  background-color: #d9edf7;
}

.btn-default {
  background-image: linear-gradient(#f4bb1b, #f4bb1b 60%, #f4bb1b);
}

.dark-theme > .odd-message {
  background-color: #890727bb;
}

.modal-body {
  padding: 30px;
  background-color: #891787!important;
}

.modal-header {
  background-color: #891787;
  border-bottom: 1px solid #890727bb;
}

.modal-footer {
  background-color: #891787;
  border-top: 1px solid #890727bb;
}