#motdwrap {background-color:#333333; color:white}
#titlerow-outer {background-image:linear-gradient(to right, #666666, #666666)}
#rulespanel, .currenttitle, #emptytop, #footerwrap {color:white}
.queue_entry {color:#f5f5f5}
.command {background-color:white; border:solid 1px black; color:black}
#sitefooter {color:#cccccc}

#cbtn0 {background:gold !important}
#cbtn1 {background:orange !important}
#cbtn2 {background:red !important}
#cbtn3 {background:green !important}
#cbtn4 {background:blue !important}
#cbtn5 {background:brown !important}
#cbtn6 {background:silver !important}
#cbtn7 {background:white !important; color:silver !important}
