/* ---------- GLOBAL STYLES ---------- */

body {background-color:#d9edf7; background-image:url("https://dl.dropboxusercontent.com/s/qmr5mdih5rgssud/cirno.png")}

.dropdown-menu {color:black}

.dropdown-menu > li > a {}
.dropdown-menu > li > a:hover {background-image:none; background-color:#6495ed; color:white}

#playlistrow .span12.row-fluid,
#playlisttogglewrap,
.poll-menu, 
#pollwrap .well {background-color:#d9edf7; color:#555555}


/* ----- LINKS ----- */

#rulespanel a {color:#dddddd}
#rulespanel a:hover {}


/* ---------- BUTTONS ---------- */

.btn-primary {background-image:none; background-color:#6495ed; color:white}
.btn-primary:hover, .btn-primary:focus {background-color:white; color:#6495ed}

.btn-success {background-image:none; background-color:#6495ed}
.btn-success:hover, .btn-success:focus {background-color:white; color:black}

.btn-danger {background-image:none; background-color:white; color:black}
.btn-danger:hover, .btn-danger:focus {background-color:#dddddd; color:black}


/* ---------- MODAL WINDOWS ---------- */

/* common modal window */

.modal,
.modal-footer {background-color:#6495ed; color:white}

.modal-footer {background-color:#eeeeee}

.text-error {color:blue}


/* ---------- HEADER ---------- */

.navbar-inverse .navbar-inner,
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {background-image:none; background-color:#dddddd}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {color:#6495ed !important; text-shadow:none}
.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover, .navbar-inverse .nav > li > a:active {color:white !important}

#welcome {color:#6495ed}


/* ---------- MAIN ROWS ---------- */

/* common main visible rows */

#motd,
#announcements,
#titlerow-outer,
#main-outer,
#playlist-outer,
#channelsettingswrap3 {
background-color:white;
border:solid 2px #6495ed;
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
}

/* MOTD row */

#motd {
color:black;
background-color:white;
background-image:url("https://dl.dropboxusercontent.com/s/fckk316i5si6axm/cirno-right.png"), url("https://dl.dropboxusercontent.com/s/sae3lbmn6wi1486/cirno-left.png");
background-repeat:no-repeat;
background-position:right bottom, left bottom;
min-height:160px;
}

#titlerow-outer {background-image:linear-gradient(to right, #d9edf7, #d9edf7)}


/* ---------- ANNOUNCEMENTS ---------- */

#rulespanel {background-color:#6495ed; color:white}

#drinkbar {background-color:black; color: white}


/* ---------- TITLES ---------- */

#currenttitle, #emptytop, #usercountwrap {color:black}

#titlerow-outer #currenttitle {
color:#3a87ad;
text-align:center;
font-size:14pt;
text-shadow:3px 3px 6px #888888;
border:none !important;
}


/* ---------- USERLIST ---------- */

/* common userlist */

#userlist {background-color:white}

/* userlist item */

.userlist_item {color:black}

.userlist_guest {color:gray}

.userlist_siteadmin,
.userlist_owner,
.userlist_op {color:#6495ed}


/* ---------- CHAT ---------- */

#messagebuffer {background-color:white}

#chatline {background-color:white}

.shout {color:#6495ed}

.greentext {color:green}

.nick-highlight {background-color:#6495ed; color:white}

.nick-hover {background-color:#6495ed; color:white}


/* ---------- CHAT SERVER MESSAGES ---------- */

.server-whisper {color:white}

.drink {border:solid 2px silver}


/* ---------- FILTERS GRAPHIC INTERFACE ---------- */

/* fonts and emotes panel */

#fontspanel,
#emotespanel {background-color:#6495ed}


/* ---------- VIDEOLISTS (QUEUE, LIBRARY/YOUTUBE, CHANNEL DATABASE) ---------- */

.videolist li {background-color:#dddddd; color:black}
.videolist li:hover {background-color:silver}

.queue_active {background-color:#eeeeee !important; border:#6495ed}

.qe_time {font-family:arial}

.queue_entry .btn {font-family:arial}


/* ---------- QUEUE ---------- */

#plmeta {background-color:#6495ed; color:white}


/* ---------- POLLS ---------- */

#pollwrap .option {color:black}

#pollwrap .option button {background-image:none; background-color:#6495ed; color:white}


/* ---------- CHANNEL DATABASE ---------- */

.db-break {background-image:none; background-color:#6495ed; color:white; text-shadow:none; box-shadow:none}
.db-break:hover {background-color:#dddddd; color:black}


/* ---------- MODERATION MENU ---------- */

#channelsettingswrap2 {background-color:#dddddd}


/* ---------- FOOTERS ---------- */

#footerwrap {background-color:#dddddd}

#sitefooter {background-color:#eeeeee}
