/* ---------- GLOBAL STYLES ---------- */

body {background-color:#444444}

.dropdown-menu > li > a {}
.dropdown-menu > li > a:hover {background-image:none; background-color:black}

input[type="text"],
textarea {}
input[type="text"]:focus,
textarea:focus {
border-color: red;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 0, 0, 0.6);
}

.alert {background-color:black; color:white; border:none}

#playlistrow .span12.row-fluid,
#playlisttogglewrap,
.poll-menu, 
#pollwrap .well {background-color:black; color:#bbbbbb; border:none}


/* ----- LINKS ----- */

.alert a {color:#dddddd}
.alert a:hover {}

#footerwrap a {color:#dddddd}
#footerwrap a:hover {}

#sitefooter a {color:#dddddd}
#sitefooter a:hover {}

/* ---------- BUTTONS ---------- */

.btn-primary {background-image:none; background-color:red; color:white}
.btn-primary:hover, .btn-primary:focus {background-color:white; color:red}

/* DEFAULT: text-shadow, background-image */
.btn-success {background-image:none; background-color:pink}
.btn-success:hover, .btn-success:focus {background-color:white; color:pink}

/* DEFAULT: text-shadow, background-image */
.btn-danger {background-image:none; background-color:red; color:black}
.btn-danger:hover, .btn-danger:focus {background-color:#dddddd; color:red}


/* ---------- MODAL WINDOWS ---------- */

.modal,
.modal-footer {background-color:black; color:white}

.modal-footer {background-color:silver}

.text-error {color:red}


/* ---------- HEADER ---------- */

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {color:white !important; text-shadow:none}
.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover, .navbar-inverse .nav > li > a:active {color:#cccccc !important}


/* ---------- MAIN ROWS ---------- */

/* common main visible rows */

#motd,
#announcements,
#titlerow-outer,
#main-outer,
#playlist-outer,
#channelsettingswrap3 {
background-color:white;
border:none;
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
}

#titlerow-outer {
background-image:linear-gradient(to right, #eeeeee, silver);
}


/* ---------- ANNOUNCEMENTS ---------- */

#rulespanel {background-color:#dddddd; border:solid 2px black !important}

#drinkbar {background-color:black; color: white}


/* ---------- TITLES ---------- */

#currenttitle, #emptytop, #usercountwrap {color:black; border:solid 1px black}

#titlerow-outer #currenttitle {
text-align:center;
font-style:italic;
font-size:14pt;
text-shadow:3px 3px 6px #888888;
border:none !important;
}


/* ---------- USERLIST ---------- */

#userlist {background-color:white; border:solid 1px black; padding-left:2px}

.userlist_item {color:black}

.userlist_guest {color:gray}

.userlist_siteadmin,
.userlist_owner,
.userlist_op {color:red}


/* ---------- CHAT ---------- */

#messagebuffer {background-color:white; border:solid 1px black}

#chatline {background-color:white; border:solid 1px black}

#messagebuffer div {font-size:10pt}

.poll-notify {color:red; font-size:12pt !important}

.greentext {color:green}

.nick-highlight {background-color:pink}

.nick-hover {background-color:pink}


/* ---------- CHAT SERVER MESSAGES ---------- */

.drink {border:solid 2px silver}


/* ---------- FILTERS GRAPHIC INTERFACE ---------- */

#fontspanel,
#emotespanel {background-color:#dddddd; border:solid 2px black}


/* ---------- VIDEOLISTS (QUEUE, LIBRARY/YOUTUBE, CHANNEL DATABASE) ---------- */

.videolist li {background-color:silver; color:black}
.videolist li:hover {background-color:pink}

.queue_active {background-color:white !important; border-color:silver}

.qe_time {font-family:arial}

.queue_entry .btn {font-family:arial}


/* ---------- QUEUE ---------- */

#plmeta {background-color:pink}


/* ---------- PLAYLIST MANAGER ---------- */

#userpl_list li {color:black}


/* ---------- CHANNEL DATABASE ---------- */

.db-break {background-image:none; background-color:white; color:black}
.db-break:hover {background-color:red; color:white}

.db-badge {background-color:white; color:black}


/* ---------- MODERATION MENU ---------- */

#channelsettingswrap2 {background-color:white !important}


/* ---------- FOOTERS ---------- */

#footerwrap {color:white}

.footer-badge {background-color:black}

#sitefooter {background-color:black}


/* ---------- GLYPHICONS ---------- */

.icon-plus {
background-image:url("https://raw.github.com/calzoneman/sync/master/www/assets/img/glyphicons-halflings-white.png");
}
.icon-minus {
background-image:url("https://raw.github.com/calzoneman/sync/master/www/assets/img/glyphicons-halflings-white.png");
}


/* ---------- CLOSING X ---------- */

.alert .close {color:white}
#pollwrap .close {color:white}
.modal .close {color:white}
