/* ---------- GLOBAL STYLES ---------- */

body {background-color:black; background-image:url(https://dl.dropboxusercontent.com/s/9vycgwvoohhs98f/space.jpg)}

.dropdown-menu {background-color: #333333}

.dropdown-menu > li > a {color:white}
.dropdown-menu > li > a:hover {background-image:none; color:white; background-color:black}

.nav-header {color:white}

.badge {background-color:silver; color:black}

input[type="text"],
textarea {}
input[type="text"]:focus,
textarea:focus {
border-color: #789922;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 255, 0, 0.6);
}

.alert {background-color:white; color:black; border:solid 1px #789922}

#playlistrow .span12.row-fluid,
#playlisttogglewrap,
.poll-menu, 
#pollwrap .well {
border:solid 2px #789922;
color:#888888;
background-color:#222222;
background-image:url("https://raw.github.com/calzoneman/sync/master/www/assets/img/stripe-diagonal.png");
}


/* ----- LINKS ----- */

a {color:#789922}
a:hover {color:green}

.alert a {color:#789922}
.alert a:hover {}


/* ---------- BUTTONS ---------- */

.btn {
background-image:none;
border:solid 1px white;
background-color:#222222;
color:#999999;
}
.btn:hover {background-color:#555555}

.btn-primary {background-image:none; background-color:#789922; color:white}
.btn-primary:hover, .btn-primary:focus {background-color:white; color:#789922}

.btn-success {background-image:none; background-color:#789922}
.btn-success:hover, .btn-success:focus {background-color:white; color:black}

.btn-danger {background-image:none; background-color:#dddddd; color:black}
.btn-danger:hover, .btn-danger:focus {background-color:white; color:black}


/* ---------- MODAL WINDOWS ---------- */

.modal,
.modal-footer {background-image:url(https://dl.dropboxusercontent.com/s/9vycgwvoohhs98f/space.jpg); color:white}

.modal-footer {background-image:none; background-color:#555555}

.text-error {color:red}


/* ---------- HEADER ---------- */

.navbar-inverse .navbar-inner,
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {background-image:none; background-color:black}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {color:white !important; text-shadow:none}
.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover, .navbar-inverse .nav > li > a:active {color:#dddddd !important}

#welcome {color:white}


/* ---------- MAIN ROWS ---------- */

#motd,
#announcements,
#titlerow-outer,
#main-outer,
#playlist-outer,
#channelsettingswrap3 {
border:dotted 3px white;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
}

#motd {color:white; background:transparent}

#titlerow-outer {
background-color:#789922;
background-image:linear-gradient(to right, black, black);
}


/* ---------- ANNOUNCEMENTS ---------- */

#rulespanel {background-color:black; color:#eeeeee}

#drinkbar {background-color:black; color: white}


/* ---------- TITLES ---------- */

#currenttitle, #emptytop, #usercountwrap {background:black; color:white; border:none}

#titlerow-outer #currenttitle {
color:white;
background:transparent;
border:none !important;
text-align:center;
font-size:18pt;
line-height:24px;
}


/* ---------- USERLIST ---------- */

#userlist {background-color:black}

.userlist_item {color:white}

.userlist_guest {color:#cccccc}

.userlist_siteadmin,
.userlist_owner,
.userlist_op {color:#789922}

.profile-box {background-color:black; color:white}


/* ---------- CHAT ---------- */

#messagebuffer {background-color:black}

#chatline {background-color:black; color:white}

#messagebuffer div {color:white}

.poll-notify {color:#789922}

.spoiler {background-color: white; color:white}
.spoiler:hover {background-color:black}

.action {color:#dddddd}

.shout {color:#789922}

.greentext {color:green}

.nick-highlight {background-color:#89aa33}

.nick-hover {background-color:#89aa33}


/* ---------- CHAT SERVER MESSAGES ---------- */

.server-whisper {color:black}

.drink {border:solid 2px silver}


/* ---------- VIDEOLISTS (QUEUE, LIBRARY/YOUTUBE, CHANNEL DATABASE) ---------- */

.videolist li {background-color:black; color:white}
.videolist li:hover {}

.queue_active {
background-color:#789922 !important;
color:white;
border:solid 1px white;
font-size:12pt;
padding-left:15px;
padding-top:6px;
padding-bottom:6px;
}

.qe_time {font-family:arial}

.queue_entry .btn {font-family:arial}


/* ---------- QUEUE ---------- */

#plmeta {background-color:black; color:white}


/* ---------- POLLS ---------- */

#pollwrap .option button {background-image:none; background-color:#789922; color:white}


/* ---------- PLAYLIST MANAGER ---------- */

#userpl_list li {background-color:black; color:#eeeeee}


/* ---------- CHANNEL DATABASE ---------- */

.db-break {background-image:none; background-color:#444444; color:white}
.db-break:hover {color:white}


/* ---------- MODERATION MENU ---------- */

#channelsettingswrap2 {background-color:#222222 !important; color:white}

.table-striped tbody > tr:nth-child(2n+1) > td {background-color:#555555 !important}


/* ---------- FOOTERS ---------- */

#footerwrap {color:#eeeeee; border-top:dotted 3px white}

#sitefooter {color:#eeeeee}


/* ---------- GLYPHICONS ---------- */

.icon-chevron-up,
.icon-font,
.icon-picture,
.icon-star-empty,
.icon-time,
.icon-plus,
.icon-minus,
.icon-ok,
.icon-lock,
.icon-play,
.icon-share-alt,
.icon-flag,
.icon-trash {
background-image:url("https://raw.github.com/calzoneman/sync/master/www/assets/img/glyphicons-halflings-white.png");
}

.icon-lock {
background-image:url("https://raw.github.com/calzoneman/sync/master/www/assets/img/glyphicons-halflings.png");
}
.icon-trash {
background-image:url("https://raw.github.com/calzoneman/sync/master/www/assets/img/glyphicons-halflings.png");
}


/* ---------- CLOSING X ---------- */

#annclose {color:white}
#pollwrap .close {color:white}
#hide_settings {color:white}
.modal .close {color:white}
