.alert a {color:#eeeeee}
select {background-color:black}
#motd {background-color:#333333}
#currenttitle {background:transparent}
#titlerow-outer {background-image:linear-gradient(to right, #666666, #666666)}
#rulespanel, .currenttitle, #emptytop, #footerwrap {color:#C6C6C6}
.queue_entry {color:#c6c6c6}
.command {background-color:black; border:solid 1px white}
.badge {text-shadow:none; box-shadow:none}
