/* ---------- GLOBAL STYLES ---------- */

body {background-color:#faa7fa}

.dropdown-menu {background-color:#6495ed}

.dropdown-menu > li > a {}
.dropdown-menu > li > a:hover {background-image:none; background-color:#dddddd; color:black}

.nav-header {color:black}

.badge {color:black; background-color:white}

input[type="text"],
textarea {}
input[type="text"]:focus,
textarea:focus {
border-color: red;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(372, 167, 372, 0.6);
}

.alert {background-color:#faa7fa; color:black}

#playlistrow .span12.row-fluid,
#playlisttogglewrap,
.poll-menu, 
#pollwrap .well {color:black}


/* ----- LINKS ----- */

a {color:#6798f0}
a:hover {}

#rulespanel a {color:#dddddd}
#rulespanel a:hover {}

.alert a {color:#6798f0}
.alert a:hover {}


/* ---------- BUTTONS ---------- */

.btn-primary {background-image:none; background-color:#6495ed; color:white}
.btn-primary:hover, .btn-primary:focus {background-color:white; color:#6495ed}

.btn-success {background-image:none; background-color:#6495ed}
.btn-success:hover, .btn-success:focus {background-color:#6798F0; color:black}

.btn-danger {background-image:none; background-color:#faa7fa; color:black}
.btn-danger:hover, .btn-danger:focus {background-color:#fdaafd; color:black}


/* ---------- MODAL WINDOWS ---------- */

.modal,
.modal-footer {background-color:#faa7fa}

.modal-footer {background-color:#6495ed}


/* ---------- HEADER ---------- */

.navbar-inverse .navbar-inner,
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {background-image:none; background-color:#6495ed}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {color:black !important}
.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover, .navbar-inverse .nav > li > a:active {color:white !important}


/* ---------- MAIN ROWS ---------- */

#motd,
#announcements,
#titlerow-outer,
#main-outer,
#playlist-outer,
#channelsettingswrap3 {
background-color:#6495ed;
border:solid 2px black;
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
}

#motd {background-color:#faa7fa; color:black}

#titlerow-outer {background-color:#6495ed; background-image:linear-gradient(to right, #faa7fa, #faa7fa)}


/* ---------- ANNOUNCEMENTS ---------- */

#drinkbar {background-color: black; color: white}


/* ---------- TITLES ---------- */

#currenttitle, #emptytop, #usercountwrap {background-color:#6495ed; color:black}

#titlerow-outer #currenttitle {
background:transparent;
text-align:center;
font-style:italic;
font-size:14pt;
text-shadow:3px 3px 6px #888888;
border:none !important;
}


/* ---------- USERLIST ---------- */

#userlist {background-color:white}

.userlist_item {color:black}

.userlist_guest {color:gray}

.userlist_siteadmin,
.userlist_owner,
.userlist_op {color:red}


/* ---------- CHAT ---------- */

#messagebuffer {background-color:white}

#chatline {background-color:white}

.poll-notify {color:red}

.greentext {color:green}

.nick-highlight {background-color:#dddddd}

.nick-hover {background-color:#dddddd}

#fontsbtn,
#emotesbtn {background-color:#dddddd}


/* ---------- CHAT SERVER MESSAGES ---------- */

.drink {border:solid 2px silver}


/* ---------- FILTERS GRAPHIC INTERFACE ---------- */

#fontspanel,
#emotespanel {background-color:#6495ed}


/* ---------- VIDEOLISTS (QUEUE, LIBRARY/YOUTUBE, CHANNEL DATABASE) ---------- */

.videolist li {background-color:#faa7fa; color:black}
.videolist li:hover {}

.queue_active {background-color:#6495ed !important; border:solid 1px #faa7fa}

.qe_time {font-family:arial}

.queue_entry .btn {font-family:arial}


/* ---------- QUEUE ---------- */

#plmeta {background-color:#faa7fa; color:black}


/* ---------- POLLS ---------- */

#pollwrap .option {color:black}

#pollwrap .option button {background-image:none; background-color:#faa7fa; color:white}


/* ---------- CHANNEL DATABASE ---------- */

.db-break {background-image:none; background-color:#dddddd; color:black}
.db-break:hover {background-color:#faa7fa}


/* ---------- MODERATION MENU ---------- */

#channelsettingswrap2 {background-color:#dddddd !important}


/* ---------- GLYPHICONS ---------- */

.icon-ok {
background-image:url("https://raw.github.com/calzoneman/sync/master/www/assets/img/glyphicons-halflings-white.png");
}

