/* ---------- GLOBAL STYLES ---------- */

body {background-color:gold; background-image:url("https://dl.dropboxusercontent.com/s/4vgk9azuhwjt5aw/banana.png")}

.dropdown-menu > li > a {}
.dropdown-menu > li > a:hover {
color:black;
background-image:url("https://dl.dropboxusercontent.com/s/4vgk9azuhwjt5aw/banana.png");
}

.badge {background-color:white; color:black}

input[type="text"],
textarea {}
input[type="text"]:focus,
textarea:focus {
border-color: #789922;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 255, 0, 0.6);
}

.alert {background-image:url("https://dl.dropboxusercontent.com/s/vht3incmxmhe4f8/jungle.png")}

#playlistrow .span12.row-fluid,
#playlisttogglewrap,
.poll-menu, 
#pollwrap .well {
color:black;
background-image:url("https://dl.dropboxusercontent.com/s/4vgk9azuhwjt5aw/banana.png");
}


/* ---------- BUTTONS ---------- */

.btn-primary {background-image:none; background-color:#789922; color:white}
.btn-primary:hover, .btn-primary:focus {background-color:white; color:#789922}

.btn-success {background-image:none; background-color:#789922}
.btn-success:hover, .btn-success:focus {background-color:white; color:black}

.btn-danger {background-image:none; background-color:white; color:black}
.btn-danger:hover, .btn-danger:focus {background-color:#dddddd; color:black}


/* ---------- MODAL WINDOWS ---------- */

.modal,
.modal-footer {background-image:url("https://dl.dropboxusercontent.com/s/4vgk9azuhwjt5aw/banana.png")}

.modal-footer {background-image:none; background-color:#eeeeee}


/* ---------- HEADER ---------- */

.navbar-inverse .navbar-inner,
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
background-image:url("https://dl.dropboxusercontent.com/s/vht3incmxmhe4f8/jungle.png");
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {color:black; text-shadow:none}
.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover, .navbar-inverse .nav > li > a:active {color:white !important}


/* ---------- MAIN ROWS ---------- */

#motd,
#announcements,
#titlerow-outer,
#main-outer,
#playlist-outer,
#channelsettingswrap3 {
background-color:white;
border:solid 2px white;
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
}

#motd {color:black; background-image:url("https://dl.dropboxusercontent.com/s/vht3incmxmhe4f8/jungle.png")}

background-color:white;
background-image:linear-gradient(to right, #dddddd, #dddddd);
}

#main-outer {background-image:url("https://dl.dropboxusercontent.com/s/vht3incmxmhe4f8/jungle.png")}

#playlist-outer {background-image:url("https://dl.dropboxusercontent.com/s/vht3incmxmhe4f8/jungle.png")}

#channelsettingswrap3 {background-image:url("https://dl.dropboxusercontent.com/s/vht3incmxmhe4f8/jungle.png")}


/* ---------- ANNOUNCEMENTS ---------- */

#rulespanel {background-image:url("https://dl.dropboxusercontent.com/s/vht3incmxmhe4f8/jungle.png")}

#drinkbar {background-color: white; color: black}


/* ---------- TITLES ---------- */

#currenttitle, #emptytop, #usercountwrap {color:black; border:none}

#titlerow-outer #currenttitle {
color:#3A87AD;
text-align:center;
font-size:12pt;
text-shadow:3px 3px 6px #888888;
}


/* ---------- USERLIST ---------- */

#userlist {background-image:url("https://dl.dropboxusercontent.com/s/4vgk9azuhwjt5aw/banana.png")}

.userlist_item {
color:black;
background-image:url("https://dl.dropboxusercontent.com/s/vht3incmxmhe4f8/jungle.png");
}

.userlist_guest {color:gray}

.userlist_siteadmin,
.userlist_owner,
.userlist_op {color:#789922}

.profile-box {background-image:url("https://dl.dropboxusercontent.com/s/4vgk9azuhwjt5aw/banana.png")}


/* ---------- CHAT ---------- */

#messagebuffer {background-image:url("https://dl.dropboxusercontent.com/s/4vgk9azuhwjt5aw/banana.png")}

#chatline {background-image:url("https://dl.dropboxusercontent.com/s/4vgk9azuhwjt5aw/banana.png")}

.poll-notify {color:#789922}

.shout {color:#789922}

.greentext {color:green}

.nick-highlight {background-image:url("https://dl.dropboxusercontent.com/s/vht3incmxmhe4f8/jungle.png")}

.nick-hover {background-image:url("https://dl.dropboxusercontent.com/s/vht3incmxmhe4f8/jungle.png")}


/* ---------- CHAT SERVER MESSAGES ---------- */

.drink {border:solid 2px silver}


/* ---------- FILTERS GRAPHIC INTERFACE ---------- */

#fontspanel,
#emotespanel {background-image:url("https://dl.dropboxusercontent.com/s/vht3incmxmhe4f8/jungle.png")}


/* ---------- VIDEOLISTS (QUEUE, LIBRARY/YOUTUBE, CHANNEL DATABASE) ---------- */

.videolist li {
background-color:#dddddd;
color:black;
background-image:url("https://dl.dropboxusercontent.com/s/4vgk9azuhwjt5aw/banana.png");
}
.videolist li:hover {background-image:none; background-color:gold}

.queue_temp {
background-color:gold !important;
background-image:url("https://raw.github.com/calzoneman/sync/master/www/assets/img/stripe-diagonal.png") !important;
}

.queue_active {
color:black;
background-image:url("https://dl.dropboxusercontent.com/s/vht3incmxmhe4f8/jungle.png") !important;
font-size:10pt;
}

.queue_temp .qe_title {color:black}
.queue_temp .qe_title:hover {}

.qe_time {font-family:arial}

.queue_entry .btn {font-family:arial}


/* ---------- POLLS ---------- */

#pollwrap .option {color:black}

#pollwrap .option button {background-image:none; background-color:#789922; color:white}


/* ---------- CHANNEL DATABASE ---------- */

.db-break {color:black; background-image:url("https://dl.dropboxusercontent.com/s/4vgk9azuhwjt5aw/banana.png")}
.db-break:hover {background-image:url("https://dl.dropboxusercontent.com/s/vht3incmxmhe4f8/jungle.png")}


/* ---------- MODERATION MENU ---------- */

#channelsettingswrap2 {background-color:white}


/* ---------- FOOTERS ---------- */

#sitefooter {background-image:url("https://dl.dropboxusercontent.com/s/vht3incmxmhe4f8/jungle.png")}
