/* ---------- GLOBAL STYLES ---------- */

body {background-color:#333333}

.dropdown-menu > li > a {}
.dropdown-menu > li > a:hover {background-image:none; background-color:red}

.badge {background-color:black}

input[type="text"],
textarea {}
input[type="text"]:focus,
textarea:focus {
border-color:red;
box-shadow:0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 0, 0, 0.6);
}

.alert {background-color:red; color:white}


/* ----- LINKS ----- */

.alert a {color:#dddddd}
.alert a:hover {}

#footerwrap a {color:#ff3333}
#footerwrap a:hover {color:red}

#sitefooter a {color:#ff3333}
#sitefooter a:hover {color:red}


/* ---------- BUTTONS ---------- */

.btn-primary {background-image:none; background-color:red; color:white}
.btn-primary:hover, .btn-primary:focus {background-color:white; color:red}

.btn-success {background-image:none; background-color:red}
.btn-success:hover, .btn-success:focus {background-color:white; color:black}

.btn-danger {background-image:none; background-color:white; color:black}
.btn-danger:hover, .btn-danger:focus {background-color:#dddddd; color:black}


/* ---------- MAIN ROWS ---------- */

#motd,
#announcements,
#titlerow-outer,
#main-outer,
#playlist-outer,
#channelsettingswrap3 {
background-color:white !important;
border:solid 2px red;
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
}

#motd {
background-color:white;
background-image:url("https://dl.dropboxusercontent.com/s/zh8q8rnfea9h15l/kim.png");
background-repeat:no-repeat;
background-position:right top;
color:black;
min-height:188px;
}

#titlerow-outer {background-color:white}


/* ---------- ANNOUNCEMENTS ---------- */

#rulespanel {background-color:#dddddd}

#drinkbar {background-color:black; color:white}


/* ---------- TITLES ---------- */

#currenttitle, #emptytop, #usercountwrap {color:black; border:none}

#titlerow-outer #currenttitle {
text-align:center;
font-style:italic;
font-size:14pt;
text-shadow:3px 3px 6px #888888;
border:none !important;
}


/* ---------- USERLIST ---------- */

#userlist {background-color:white}

.userlist_item {color:black}

.userlist_guest {color:gray}

.userlist_siteadmin,
.userlist_owner,
.userlist_op {color:red}


/* ---------- CHAT ---------- */

#messagebuffer {background-color:white}

#chatline {background-color:white}

#messagebuffer div {font-size:10pt}

.poll-notify {color:red; font-size:12pt !important}

.greentext {color:green}

.nick-highlight {background-color:pink}

.nick-hover {background-color:pink}


/* ---------- CHAT SERVER MESSAGES ---------- */

.drink {border:solid 2px silver}

.command {}


/* ---------- FILTERS GRAPHIC INTERFACE ---------- */

#fontspanel,
#emotespanel {background-color:#dddddd}


/* ---------- VIDEOLISTS (QUEUE, LIBRARY/YOUTUBE, CHANNEL DATABASE) ---------- */

.videolist li {background-color:#ff1900; color:white}
.videolist li:hover {background-color:black}

.queue_active {background-color:black !important; padding-top:10px; padding-bottom:10px}

.queue_entry .btn {font-family:arial}


/* ---------- QUEUE ---------- */

#plmeta {background-color:red; color:white}


/* ---------- CHANNEL DATABASE ---------- */

.db-break {background-image:none; background-color:#ff1900; color:white}


/* ---------- MODERATION MENU ---------- */

#channelsettingswrap2 {background-color:white !important}

.table-striped tbody > tr:nth-child(2n+1) > td {background-color:#ffeeee !important}


/* ---------- FOOTERS ---------- */

#footerwrap {color:white}

#sitefooter {color:white}
