/*
# CyTube Plus global layout enhancement file
# Attention: try not to change this file, it sets global layout properties
*/

/* body padding */

body {padding-top:40px}

/* global "btn" class */

.btn {text-shadow:none; box-shadow:none}

/* global "badge" class */

.badge {text-shadow:none; box-shadow:none}

/* global "well" class */

.well {box-shadow:none}

/* global "alert" class */

.alert {text-shadow:none; margin-bottom:0px}

/* chat "command" class */

.command {
padding:3px;
margin:5px;
border-top:solid 1px black;
border-bottom:solid 1px black;
font-style:italic;
}

/* "brand" class */

.brand {cursor:default}

/* channel avatar */

#chanavatar {margin-right:10px}

/* header links */

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {text-shadow:none}

/* dropdown menu header */

.nav-header {text-shadow:none}

/* default top logo box properties */

#azukirowwrap {
padding-left:5px;
padding-right:5px;
border-left:solid 2px transparent;
border-right:solid 2px transparent;
background:transparent;
background-repeat:no-repeat !important;
background-position:center center !important;
margin-top:0px;
}

/* common "row" responsive layout elements */

#toprow,
#annrow,
#titlerow,
#main,
#playlistrow,
#modrow,
#footerrow {margin-top:5px}

/* common main visible rows */

#motdwrap,
#announcements,
#titlerow-outer,
#main-outer,
#playlist-outer,
#channelsettingswrap3 {
border:solid 2px white;
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
padding:5px;
}

/* attention bar responsive "row" box */

#attbarrow {margin-top:2px}

/* MOTD */

#motdwrap {position:relative; background-color:#F5F5F5; margin-bottom:0px; min-height:20px}

/* rules button */

#rulesbtn {margin-top:10px; margin-bottom:5px}

/* rulespanel outer box */

#rulespanel-outer {width:100%; padding:0}

/* rulespanel */

#rulespanel {
max-width:700px;
margin:0 auto;
margin-top:0px;
padding:4px;
border:solid 2px white;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
text-align:left;
}

/* MOTD buttons */

#motdbtn {position:absolute; top:5px; right:5px}

/* drinkbar */

#drinkbarwrap {
padding-left:5px;
padding-right:5px;
border-left:solid 2px transparent;
border-right:solid 2px transparent;
}
#drinkcount {margin-top:0px; margin-bottom:0px}

/* announcements */

#announcements {position:relative; margin-bottom:0px}

/* attention bar */

#attBar {background-color: white}

/* announcements server error */

#announcements .alert-error {margin-left:0px}

/* announcements close button */

#annclose {position:absolute; top:5px; right:5px}

/* userlist item */

.userlist_item {cursor:pointer}

/* chatline */

#chatline {margin-bottom:3px}

/* default "emptytop" box */

#emptytop {
margin:0px;
padding-left:2px;
color:#333333;
border-width:1px 1px medium;
border-style:solid solid none;
border-color:#AAAAAA;
}

/* video title */

#currenttitle {padding-left:4px}
#currenttitle:before {content:"▶ "}

/* default full-width title */

#titlerow-outer {
background-image:linear-gradient(to right, #DDDDDD, #DDDDDD);
background-position:0px center;
background-size:0% 100%;
background-repeat:no-repeat;
}
#titlerow-outer #currenttitle {border:solid 1px #AAAAAA !important}

/* player controls dropdown menu */

#trmenu {text-align:right}

/* fonts and emotes panels */

#fontspanel, #emotespanel {
border:solid 2px white;
max-width:700px;
margin:0 auto;
display:none;
text-align:center;
margin-top:1px;
padding:4px;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
}

/* fonts panel buttons */

#fontspanel button {width:28px; height:28px; padding:4px 6px; margin-bottom:10px; line-height:16px}

/* emote */

.emote {cursor:pointer}

/* "Show/Hide" boxes */

#leftpane-inner .well,
#playlisttogglewrap,
#dbwrap,
#gallerywrap {margin-bottom:5px; padding-bottom:0px}

/* extended playlist controls */

#extended_controls {min-height:0px}

/* playlist dropdown menu */

#moreopt {padding-left:5px; padding-right:5px; text-align:center}

/* queue */

#queue {max-height:450px}

/* common videolist titles */

.qe_title,
.db-title {color:inherit}
.qe_title:hover {color:inherit}

/* common playlist items title */

.qe_title {margin-left:4px}

/* poll boxes */

#pollwrap {min-height:0px}
.poll-menu .btn-block {margin-bottom:5px}
#pollwrap .well {padding-bottom:5px}

/* channel database common properties */

.db-cat {max-height:450px; overflow:auto; margin-bottom:0px}

/* channel database link */

.db-link {margin-left:5px}

/* playlist extended controls */

#extended_controls {margin-bottom:5px}

/* moderation outer box */

#channelsettingswrap3 {margin-top:0px !important}

/* moderation inner box */

#channelsettingswrap2 {border:none; margin-bottom:0px !important}

/* moderation "hr" element */

#channelsettingswrap hr {margin-bottom:0px}

/* default footer */

#footerwrap {
padding:5px;
border-left:solid 2px transparent;
border-right:solid 2px transparent;
border-top:solid 2px white;
}

#footer {margin:10px 0 0 0}

/* sitefooter */

#sitefooter {padding:5px}

/* closing "x" element */

.close {opacity:0.4}
.close:hover {opacity:0.6}

/* player transformations classes */

.mX {
-webkit-transform:scaleX(-1);
-moz-transform:scaleX(-1);
transform:scaleX(-1);
-ms-transform:scaleX(-1);
-o-transform:scaleX(-1);
}
.mY {
-webkit-transform:scaleY(-1);
-moz-transform:scaleY(-1);
transform:scaleY(-1);
-ms-transform:scaleY(-1);
-o-transform:scaleY(-1);
}
.rotate {
-webkit-transform:rotate(180deg);
-moz-transform:rotate(180deg);
transform:rotate(180deg);
-ms-transform:rotate(180deg);
-o-transform:rotate(180deg);
}
.vertical {
-webkit-transform:rotate(270deg);
-moz-transform:rotate(270deg);
transform:rotate(270deg);
-ms-transform:rotate(270deg);
-o-transform:rotate(270deg);
}
