/* ---------- GLOBAL STYLES ---------- */

body {background-color:white}

.dropdown-menu > li > a {}
.dropdown-menu > li > a:hover {background-image:none; background-color:#dddddd; color:black}

.badge {background-color:#ddfddd; color:black}

input[type="text"],
textarea {}
input[type="text"]:focus,
textarea:focus {
border-color: red;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 0, 0, 0.6);
}

.alert {background-color:#ddfddd}

#playlistrow .span12.row-fluid,
#playlisttogglewrap,
.poll-menu, 
#pollwrap .well {color:#555555}


/* ---------- BUTTONS ---------- */

.btn-primary {background-image:none; background-color:white; color:black}
.btn-primary:hover, .btn-primary:focus {background-color:black; color:white}

.btn-success {background-image:none; background-color:white; color:black}
.btn-success:hover, .btn-success:focus {background-color:#dddddd; color:black}

.btn-danger {background-image:none; background-color:white; color:black}
.btn-danger:hover, .btn-danger:focus {background-color:#dddddd; color:black}


/* ---------- HEADER ---------- */

.navbar-inverse .navbar-inner,
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {background-image:none; background-color:#dddddd}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {color:black !important; text-shadow:none}
.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover, .navbar-inverse .nav > li > a:active {background-color:#dddddd}

#welcome {color:black}


/* ---------- MAIN ROWS ---------- */

#motd,
#announcements,
#titlerow-outer,
#main-outer,
#playlist-outer,
#channelsettingswrap3 {border:none; padding:0px}

#motd {background-color:#f5f5f5; color:black}

#titlerow-outer {
border-top:solid 2px silver;
border-bottom:solid 2px silver;
padding-top:5px;
padding-bottom:5px;
background-image:linear-gradient(to right, #e0e0e0, #e0e0e0);
border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
}


/* ---------- TOP BACKGROUND LOGO ---------- */

#azukirowwrap {padding-left:0px; padding-right:0px; border-left:none; border-right:none}


/* ---------- ANNOUNCEMENTS ---------- */

#drinkbar {background-color: black; color: white}


/* ---------- TITLES ---------- */

#currenttitle, #emptytop, #usercountwrap {color:black; border:none}

#titlerow-outer #currenttitle {
text-align:center;
font-style:italic;
font-size:14pt;
text-shadow:3px 3px 6px #888888;
border:none !important;
}


/* ---------- USERLIST ---------- */

#userlist {background-color:white}

.userlist_item {color:black}

.userlist_guest {color:gray}

.userlist_siteadmin,
.userlist_owner,
.userlist_op {color:red}


/* ---------- CHAT ---------- */

#messagebuffer {background-color:white}

#chatline {background-color:white}

.poll-notify {color:red}

.greentext {color:green}

.nick-highlight {background-color:#dddddd}

.nick-hover {background-color:#dddddd}


/* ---------- CHAT SERVER MESSAGES ---------- */

.drink {border:solid 2px silver}


/* ---------- FILTERS GRAPHIC INTERFACE ---------- */

#fontspanel,
#emotespanel {background-color:#eeeeee}


/* ---------- VIDEOLISTS (QUEUE, LIBRARY/YOUTUBE, CHANNEL DATABASE) ---------- */

.queue_active {background-color:#ddfddd}

.qe_time {font-family:arial}

.queue_entry .btn {font-family:arial}


/* ---------- POLLS ---------- */

#pollwrap .option {color:black}

#pollwrap .option button {background-image:none; background-color:red; color:white}


/* ---------- CHANNEL DATABASE ---------- */

.db-break {background-color:#dddddd; color:black}
.db-break:hover {}


/* ---------- MODERATION MENU ---------- */

#channelsettingswrap2 {background-color:#f5f5f5 !important}


/* ---------- FOOTERS ---------- */

#footerwrap {padding-left:0px; padding-right:0px; border-left:none; border-right:none; border-top:solid 2px #dddddd}

#sitefooter {background-color:#dddddd; border-top:solid 1px black}
